* {
  font-family: Arial, Helvetica, sans-serif;
  color: #ff0000;
}

.gameboard {
  width: 1000px;
  height:1000px;
}


.gameCell{
  background:url(/images/Terminator%20sprite.png) 0 0;
  background-size: 600px 200px;
  height: @gameCellHeight;
  width: @gameCellWidth;
  border: 3px solid #ff0000;
  display: inline-block;


  &.showImg1{
    background-position:  -200px 0;

}

  &.showImg2{
   background-position: -398px 0;
}

};

#contentContainer {
  width: 950px;
  margin-left: auto;
  margin-right: auto;
};

aside {
  height: 625px;
  width: 250px;
  background-color: #5d5d5d;
  display: inline-block;
  vertical-align: top;
  margin-top: 100px;
};

#wrapper {
  width: 650px;
  margin:auto;
  margin-top: 100px;
  display: inline-block;
};

body {
  background: url(/images/Background.jpeg);
  background-size: 1900px 1200px;
};

img {
  margin-left: 250px;
}
