<!DOCTYPE html>
<html ng-app="noughtsAndCrossesApp">
<head>

    <title>Noughts and Crosses</title>
    <script src="/angular/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.min.css">


</head>

<body>

<div>
    <h2>Player Number</h2>
     <select ng-model="playerNumber">

        <option value="1">1</option>
        <option value="2">2</option>

        </select>

    </div>


<div>
    <h2>Player 1</h2>
    <select ng-model="playerType1">

        <option value="human">Human</option>
        <option value="random">Random</option>
        <option value="pre-trained">pre-trained</option>


    </select>

</div>


<div>
    <h2>Player 2</h2>
    <select ng-model="playerType2">

        <option value="human">Human</option>
        <option value="random">Random</option>
        <option value="pre-trained">pre-trained</option>


    </select>

</div>

<div ng-controller="noughtsAndCrossesController">

    <button ng-click="newGame()">New Game</button>





<h2>{{gameModel.gameboard}}   {{gameModel.outcome}}   {{gameModel.winner}}</h2>



    <div class='wrapper'>

        <div class="Row1">
            <div id="cell1" ng-click="makeMove(0)"></div>
            <div id="cell2" ng-click="makeMove(1)"></div>
            <div id="cell3" ng-click="makeMove(2)"></div>
        </div>

        <div class="Row2">
            <div id="cell4" ng-click="makeMove(3)"></div>
            <div id="cell5" ng-click="makeMove(4)"></div>
            <div id="cell6" ng-click="makeMove(5)"></div>
        </div>

        <div class="Row3">
            <div id="cell7" ng-click="makeMove(6)"></div>
            <div id="cell8" ng-click="makeMove(7)"></div>
            <div id="cell9" ng-click="makeMove(8)"></div>
        </div>


    </div>

</div>

    <script src="scripts/built.js"></script>
</body>
</html>