<!DOCTYPE html>
<html ng-app="tombola.noughtsAndCrosses">
<head>

    <title>Noughts and Crosses</title>
    <script src="/angular/angular.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/import.min.css">
</head>

<body ng-controller="noughtsAndCrossesController">
<img src="/images/text.png">
<div id="contentContainer">

    <div id="wrapper">
            <div>
                <div  class="gameCell showImg{{gameModel.gameboard[0]}}" ng-click="makeMove(0)"></div>
                <div  class="gameCell showImg{{gameModel.gameboard[1]}}" ng-click="makeMove(1)"></div>
                <div  class="gameCell showImg{{gameModel.gameboard[2]}}" ng-click="makeMove(2)"></div>
            </div>

            <div>
                <div  class="gameCell showImg{{gameModel.gameboard[3]}}" ng-click="makeMove(3)"></div>
                <div  class="gameCell showImg{{gameModel.gameboard[4]}}" ng-click="makeMove(4)"></div>
                <div  class="gameCell showImg{{gameModel.gameboard[5]}}" ng-click="makeMove(5)"></div>
            </div>

            <div>
                <div  class="gameCell showImg{{gameModel.gameboard[6]}}" ng-click="makeMove(6)"></div>
                <div  class="gameCell showImg{{gameModel.gameboard[7]}}" ng-click="makeMove(7)"></div>
                <div  class="gameCell showImg{{gameModel.gameboard[8]}}" ng-click="makeMove(8)"></div>
            </div>
</div>
<aside>
    <button ng-click="newGame()">New Game</button>

<div class="selection">

    <h2>Current Number {{gameModel.currentPlayer}}</h2>

</div>

<div class="selection">

    <h2>ARNIE! :  {{gameModel.player1Type}}</h2>

    <select ng-model="gameModel.player1Type">

        <option value="human">Human</option>
        <option value="random">Random</option>
        <option value="pre-trained">pre-trained</option>

    </select>

</div>

<div class="selection">

    <h2>T-800 Terminator : {{gameModel.player2Type}}</h2>

    <select ng-model="gameModel.player2Type">

        <option value="human">Human</option>
        <option value="random">Random</option>
        <option value="pre-trained">pre-trained</option>

    </select>

</div>

    <h1 ng-hide=" gameModel.winner === 0 ">Player {{gameModel.winner}} {{gameModel.outcome}}</h1>
    <h1 ng-show=" gameModel.outcome  === 'Draw'">DRAW</h1>

</aside>
</div>

    <script src="scripts/built.js"></script>

</body>
</html>